$teal: #009688;
$teal-hover: #00695f;
$white: #fff;
$grey: #DBE2EA;
$grey: #756F86;
$blue: #2196f3;
$blue-hover: #1769aa;
$red: #ff1744;
$red-hover: #b2102f;

$bg: #f5f5f5;
$graphite: #2C2738;

// $btn-disabled-text: #B1B5BF;
// $white: #fff;
// $white-hover: #EBF4F8;