@media (max-width: 1024px) {
  .main {
    max-width: 100%;
    padding: 15px;
  }

  .todo {
    &__form {
      max-width: 100%;
      width: calc(100% - 15px * 2);
      margin-bottom: 15px;
    }
  }

  .modal {
    &__window {
      margin: 0 15px;
    }
  }
}

@media (max-width: 768px) {
  .todo {
    &__list {
      &-text {
        &--header {
          font-size: 16px;   
        }
      }
    }
  }

  .button {
    &--icon {
      width: 25px;
      height: 25px;

      &:after {
        width: 10px;
        height: 10px;
      }
    }
  }

}

@media (max-width: 568px) {
  .todo {
    &__list {
      &-item {
        flex-direction: column;
        position: relative;
        padding: 20px;
      }

      &-block {
        max-width: 100%;

        &--header {
          margin-bottom: 30px;
        }

        &--timer {
          justify-content: flex-start;
        }

        &--delete {
          position: absolute;
          width: auto;
          top: 10px;
          right: 10px;
        }
      }
    }
  }

  .modal {
    &__buttons {
      max-width: 75%;
    }
  }
}